.link {
  font-size: 50px;

  background-color: red;
  /* transition-property: background-color, color;
  transition-duration: 5s, 10s;
  transition-timing-function: ease-in-out; */

  transition: background-color 3s ease 10s, color 5s ease-in-out;




}

.link:hover {
  background-color: aquamarine;

  text-decoration: none;

  color: white;

}

.divlar {
  width: 50px;
  height: 50px;
  background-color: aquamarine;
  border: 1px solid #000;
  margin: 10px;
}

.ota:hover .divlar {
  width: 90%;
}

.div-1 {
  transition-property: width;
  transition-duration: 3s;
  transition-timing-function: linear;
}

.div-2 {
  transition-property: width;
  transition-duration: 3s;
  transition-timing-function: ease-in;
}

.div-3 {
  transition-property: width;
  transition-duration: 3s;
  transition-timing-function: cubic-bezier(.25, 1.95, .89, -0.93);
}

.bolalar {
  width: 50px;
  height: 50px;
  background-color: bisque;
  border: 1px solid #000;
  margin: 10px;
}

.ota_div {
  border: 1px solid #000;
}

.ota_div:hover .bolalar {
  width: 200px;
}

.boshliq {
  height: 300px;
}

.children {
  width: 50px;
  height: 50px;
  background-color: cadetblue;
  border: 1px solid #000;
  margin: 5px;
}

.child-1:hover~.children {
  width: 60%;
}

.gazeta_sahifasi {


  column-gap: 50px;
  column-count: 3;

  column-rule: 2px solid #e4a9a9;
  column-rule-width: 6px;
  column-rule-style: dotted;


}